@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.section {
    width: 100%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 91px 124px;
    justify-content: space-between;
}

.title-md {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 55px;
    line-height: 56px;
    margin-bottom: 57px;
}

/* Central Block */
.central-text {
    font-size: 24px;
    line-height: 36px;
}
.central-text p:first-child {
    padding-bottom: 36px;
}
.pic-lg {
    max-width: 366px;
    padding-top: 22px;
}
.central-block {
    margin-bottom: 70px;
}

/* Bottom Block */
.pic-sm {
    max-width: 232px;
}
.offer {
    padding-top: 15px;
}
.offer-item {
    list-style-type: none;
}
.offer-item li:first-child {
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;  
}
.offer-item li:last-child {
    font-size: 18px;
    line-height: 23px;
    padding-top: 10px;
}
.bottom-block {
    max-width: 90%;
}

/* Grid */
.grid {
    display: grid;
}
.offer {
    grid-template-columns: 1fr 1fr 1fr;
}
.central-block {
    grid-template-columns: 2fr 1fr;
    gap: 9rem;
    align-items: flex-start;
    justify-content: space-between;
}
.bottom-block {
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: flex-start;
}

@media screen and (min-width: 830px) and (max-width: 1399px) {
    .container {
        padding: 56px 72px;
    }
    .title-md {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 31px;
    }
    .central-text {
        font-size: 14px;
        line-height: 21px;
    }
    .central-text p:first-child {
        padding-bottom: 23px;
    }
    .pic-lg {
        max-width: 205px;
        padding-top: 15px;
    }
    .central-block {
        margin-bottom: 20px;
        gap: 7rem;
    }
    .bottom-block {
        grid-template-columns: 2fr 1fr;
    }
    .pic-sm {
        display: none;
    }
    .offer-item li:first-child {
        font-size: 15px;
        line-height: 19px;  
    }
    .offer-item li:last-child {
        font-size: 11px;
        line-height: 14px;
        padding-top: 0.1rem;
    }

}
@media screen and (min-width: 375px) and (max-width: 829px) {
    .container {
        padding: 56px 36px;
    }
    .title-md {
        font-size: 26px;
        line-height: 26px;
        margin-bottom: 23px;
    }
    .central-text {
        font-size: 12px;
        line-height: 18px;
    }
    .central-text p:first-child {
        padding-bottom: 19px;
    }
    .pic-lg {
        max-width: 171px;
        padding-top: 14px;
    }
    .central-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 0;
        margin: 0;
    }
    .pic-sm {
        display: none;
    }
    .offer {
        padding-top: 47px;
        gap: 50px;
    }
    .offer-item li:first-child {
        font-size: 12px;
        line-height: 16px;  
    }
    .offer-item li:last-child {
        font-size: 10px;
        line-height: 13px;
        padding-top: 0.1rem;
    }
}